@font-face {
    font-family: 'Franklin Gothic';
    src: url('FranklinGothic-Medium.woff2') format('woff2'),
        url('FranklinGothic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

